.cart_container {
  width: auto;
  height: 65vh;

  padding: 2px;
  margin: 20px 15px;
  overflow-y: scroll;
}

.cart_container .element {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 15px 24px;
  border: 1px solid var(--gris-claro);
  border-radius: 2px;
}

.cart_container .element .border {
  border: 1px;
  padding: 2px 10px;
  border-radius: 20px;
  background-color: var(--gris-medio);
}

.cart_container .element h3 {
  margin: 0;
}


.cart_container .element:not(:last-child) {
  margin-bottom: 5px;
}
