.seccion_productos {
  margin: 15px 24px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.seccion_productos #contenedor_filtros {
  gap: 5px;
  display: flex;
  flex-direction: inherit;
  background-color: var(--gris-claro);
  border-radius: 10px;
  padding: 10px;
  max-height: 500px;
  overflow-y: hidden scroll;
}

.seccion_productos #contenedor_productos {
  flex-grow: 60;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  grid-gap: 5px;
  justify-content: space-around;
}

#contenedor_filtros .filtro {
  height: 60px;
  font-weight: 300;
  padding: 0 15px;
  background-color: var(--gris-medio);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filtro input {
  font-family: "Roboto Slab";
  font-size: 1.2rem;
  font-weight: 300;
  padding: 2px 8px;
  border-radius: 10px;
  border: none;
  resize: none;
  background-color: var(--gris-claro);
}

.filtro input:focus, textarea:focus {
  outline: var(--gris-oscuro) solid 2px;
}

#contenedor_filtros h3 {
  height: 40px;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: underline;
}

#contenedor_filtros p {
  margin: 0;
  padding: 0;

  font-size: 1.3rem;
}

#contenedor_productos .producto {
  height: 450px;
  width: 300px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: none;
  border-radius: 10px;
  background-color: var(--gris-medio);
  border: var(--gris-medio) solid 1px;
  position: relative;
}

.producto .producto_imagen {
  width: 100%;
  flex-grow: 95;
  background-size: cover;
 
  background-color: transparent;
}

.producto .producto_info {
  width: 100%;
  flex-grow: 5;
  text-align: center;
  font-family: "Roboto Slab", serif;

  background-color: var(--gris-claro);
}

.producto .producto_info h1 {
  font-size: 1.5rem;
  text-decoration: underline;
  margin: 5px 0 5px;
}

.producto .producto_info p {
  margin: 0;
}

.producto .producto_info button {
  width: 50%;
  border-radius: 10px;
  margin: 5px 0 5px;
  background-color: #3f3f3f;
  color: white;
}

.producto .icon i{
  font-size: 1.2rem;
  position: absolute;
  top: 5px;
  right: 5px;
  color: black;
  text-decoration: none;
  text-shadow: 2px 2px 50px white;
  padding: 7px;
  border-radius: 10px;
  background: var(--gris-claro);
  border: 1px solid var(--gris-medio);
}